/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 100%;
  font-family: "Droid Serif", serif;
  color: #7f8c97;
  background-color: #e9f0f5;
    overflow: hidden !important;
}

a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif; }

img {
  max-width: 100%; }

h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both; }

/* -------------------------------- 

Main components 

-------------------------------- */


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; 
}


/* for vertical line */
#cd-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background-color: darkcyan; }



.cd-timeline-block {
  position: relative;
  margin: 50px 0px 50px 0px;
}

 .cd-timeline-block:last-child {
    margin-bottom: 100px; 
}



/* for timeslot circles */
.cd-timeline-timeslot {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background: #75ce66;      
  transform: scale(1.5);
}


.cd-timeline-content{
  position: relative;
  margin-left: 70px;
  background: #ffffff;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
  overflow-y: auto;
  overflow-x: visible;
  }


.cd-timeline-content h4 {
    color: #303e49; 
    text-align: center;
}



/* for Read more */
.cd-timeline-content .cd-read-more {
    padding: 10px;
    background-color: coral;
    color: white; }

.cd-timeline-content .cd-read-more:hover {
    background-color: gold;
    text-decoration: none;
}
.cd-timeline-content .cd-read-more {
    float: left;
    margin-top: 10px;
}



/* for triangle */
/* .cd-timeline-content::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #000;
    top: 16px;
    right: 100%;
}
*/



.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #ffffff;
}
.cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #000;
    box-sizing: border-box;
}




/*timeslot text */
.cd-timeline-block .cd-timeline-timeslot p{
 vertical-align: middle;
    text-align: center;
    margin-top: 25%;
    color: black;
}


#timeline{
    overflow-y: scroll;
}

.cd-timeline-content div{
    font-size: 1.5em;
}

#filters label{
    font-size: 2em;
}

button{
    font-size: 1.2em !important;
}
.nav li a{
    font-size: 1.2em;
}

#timeline{
    #background: url(images/background.jpg);
}

.my-table{
    display: table;
    width: 100%;
}