body{
    font-family: sans-serif,Helvetica;
    background: brown;
    width: 100%;
    height:100%;
    overflow: hidden;
}

.atmos-full-height{
	height: 100vh;
}

#sidebar{
   background-color: orange ;
}

#timeline{
    background-color: beige;
}

#content{
    background-color: chartreuse;
}

#filters ul{
    list-style-type: none;
}

#filters label{
    color: black;
    margin-left: 30%;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    font-size: 1.5em;
    margin-bottom: 0px;
}

.btn-primary{
    background-color: crimson !important;
}

button{
   margin: 3px !important;
    text-align:center !important;
    padding-left: 4px !important;
    border-radius: 5px !important;
    font-size: 0.9em !important;
}

.navbar {
	margin-bottom: 0px;
}

#logo{
    height:5vmin;
    width: 5vmin;
}
ul{
    list-style-type: none;
}
#timeline li{
    margin-top: 10vh;
}
li div{
    background-color: chocolate;
    height: 100px;
    width: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 50% !important;
    border-width: 2px !important;
}

#verticalLine{
    width: 10px;
    height: 100vh;
    position: fixed;
    left:30%;
    background-color: black;
    
}